.container {
    height: auto;
    width: 900px;
    border: 5px solid green;
    padding: 0px;
    margin-left: 10%;
    margin-right: 10%
    background-color black;
}
body {
    background-image: url(background.gif);
    background-position: 1100px, auto;
}
.item1 {
	width: auto;
	height: auto;
    margin: 0px;
    padding: 1px;
    border: 5px solid red;
    background-color: white;
}
.item2 {
	flex-flow: column;
	width: auto;
	height: 230px;
    margin-top: 0px;
    padding: 5px;
    border: 5px solid blue;
    background-color:  #E8FBFB;
}
.item3 {
	width: auto;
	height: 320px;
    margin-top: 0px;
    padding: 5px;
    border: 5px solid blue;
    background-color:  #E8FBFB;
}
.item4 {

	width: auto;
	height: 40px;
    border: 5px solid #d69840;
    background-color: white;

}
.item6 {
    margin-top: -4px;
    float: left;
    border: 5px solid #604166
}
h1, h2 {
    font-weight: normal;
    font-family: "Century Gothic";
    margin: 2px;
    padding: 0px;
    color:  #407ad6
}
p {
 color:  #407ad6
}
.item7 {
    background-color: white;
    height: 10px;
    width: auto;
}