.container {

    height: auto;
    width: 900px;
    border: 5px solid green;
    padding: 0px;
    margin: 5px;
}
.item1 {
	width: auto;
	height: auto;
    margin: 0px;
    padding: 1px;
    border: 5px solid red;
}
.item2 {
	flex-flow: column;
	width: auto;
	height: 230px;
    margin: 0px;
    padding: 0px;
    border: 5px solid blue;
    background-color: white;
}
.item3 {
	width: auto;
	height: 320px;
    margin: 0px;
    padding: 5px;
    border: 5px solid blue;
    background-color: white;
}
.item4 {

	width: auto;
	height: 40px;
    border: 5px solid #d69840;
    background-color: white;

}
h1, h2 {
    font-weight: normal;
    font-family: "Century Gothic";
    margin: 2px;
    padding: 0px;
    color:  #407ad6
}
.item5 {

	margin-top: -2px;
	margin-left: 2px;
	float: left;
	height: 30px;
	width: 120px;
	border: 5px solid #604166
}
p {
 color:  #407ad6
}
.item6 {

	margin-top: -2px;
	margin-left: 2px;
	float: left;
	height: 30px;
	width: 120px;
	border: 5px solid #604166
}
.itemLast {
	float: left;
}