.container {
    height: auto;
    width: 900px;
    background-color: white;
    border: 10px solid white;
    margin-left: 10%;
    margin-right: 10%
}
body {
    background-image: url(background.gif);
}
.title {
	width: auto;
    background-color: #E8FBFB;
}
.title1 {
    overflow: hidden;
	width: auto;
    padding: 5px;
    margin-top: 10px;
    border: 4px solid #C2E9E9;
    background-color:  #E8FBFB;
}
.subtitle {
	width: auto;
	height: 40px;
}
.date_border {
    border-bottom: dashed 2px;
}
h1, h2 {
    font-family: "Century Gothic";
    margin: 2px;
    color:  #407ad6;
}
p {
 color:  #407ad6
}
.image {
    float: right;
}
#top {
   text-align: right;
    margin: 2px;
}
